name: xmake

on:
  push:
    branches: [ main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-15]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup xmake
        uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: branch@master
          actions-cache-folder: '.xmake-cache'
          actions-cache-key: ${{ matrix.os }}
          # package-cache: true
          # package-cache-key: ${{ matrix.os }}
          # build-cache: true
          # build-cache-key: ${{ matrix.os }}

      - name: Setup dependencies (MacOS)
        if: runner.os == 'macOS'
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
        run: |
          brew install llvm@20 lld@20

      - name: Build
        shell: bash
        run: |
          export PATH="/opt/homebrew/opt/llvm@20/bin:/opt/homebrew/opt/lld@20/bin:$PATH"
          xmake f -c -y -vD -m releasedbg --toolchain=clang --sdk=/opt/homebrew/opt/llvm@20
          xmake -vD
